#jobPostArea {
    background-color: lightblue;
    width: 70%;
    padding: 10px;
    margin: 20px;
}

#navbar-container {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}



#whoIAm {
    cursor: pointer;
}