*{
    font-family: sans-serif;
}
body {
    background-color: rgb(237, 237, 237);
    
}

#main-container {
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 950px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}


#postJobHeading {
    font-family: sans-serif;
}


.inputField {
    margin: 20px;
    width: 270px;
    height: 30px;
    padding: 5px;
}

#chooseCityDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

}


#chooseCityHeading {
    margin-right: 10px;
}


#descriptionDiv {
    margin-top: 20px;

} 




#jobSubmitBtn {
    width: 100px;
    height: 40px;
    background-color: rgb(38, 38, 38);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 111px;
}

#jobSubmitBtn:hover {
    background-color: white;
    color: rgb(77, 77, 77);
    border: 3px solid rgb(77, 77, 77);
    transition: ease 500ms;
}

#jobSubmitBtn:active {
    background-color: rgb(44, 44, 44);
}